---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
---

<button class="" type="button" data-cc="show-preferencesModal">Mostrar Preferências</button>

<script>
  import { run } from 'vanilla-cookieconsent';
  import { config } from './cookieConsentConfig';

  run(config);
</script>
