---
import Image from '../common/Image.astro';
import { getCollection } from 'astro:content';
import Button from '../ui/Button.astro';
import { Icon } from 'astro-icon/components';

const socialResponsabilityCollection = await getCollection(
  'socialResponsability'
);

const items = socialResponsabilityCollection.map((item) => ({
  title: item.data.title,
  image: item.data.image,
  link: item.data.link || '',
  instagram: item.data.instagram || '',
  description: item.body,
}));
---

<section
  class="flex min-h-[270px] w-full flex-col gap-5 px-2 pt-5 pb-10 sm:px-5"
>
  <h4 class="text-caju-heading-primary text-center uppercase">
    Responsabilidade Social
  </h4>
  <!-- Lugares -->
  <div
    class="grid w-full grid-cols-[repeat(auto-fit,minmax(150px,1fr))] items-stretch gap-5 lg:gap-7"
  >
    {
      items.map(({ title, image, link, description, instagram }) => (
        <div class="flex flex-col gap-5 md:gap-7">
          <Image
            alt={title}
            src={image}
            layout="responsive"
            widths={[150, 300, 400]}
            sizes="(max-width: 640px) 150px, (max-width: 1024px) 300px, 400px"
            class="aspect-3/4 max-h-[220px] w-full rounded-lg object-cover lg:max-h-[350px]"
          />
          <p class="font-inter text-xxs line-clamp-3 text-justify md:text-left md:text-xl lg:text-3xl">
            {description}
          </p>
          <div class="font-inter flex h-fit min-w-[75px] items-center justify-start gap-1 font-normal **:md:text-base">
            {(link || instagram) && (
              <Button
                variant="green"
                href={link || instagram || '#'}
                target="_blank"
                class="m-0! min-h-3! w-[55px] p-1! md:w-[141px]"
              >
                Ver mais
              </Button>
            )}
            {/* {instagram && !link && (
              <Button
                href={instagram || '#'}
                variant="yellow"
                class="m-0! min-h-[5px]! min-w-[5px]! p-1!"
              >
                <Icon name="mdi:instagram" class="size-5 md:size-6" />
              </Button>
            )} */}
          </div>
        </div>
      ))
    }
  </div>
</section>
