---
import ChronoTimelapse from '../react/widgets/TimelineSwiper';
import BackgroundOverlay from '../ui/BackgroundOverlay.astro';
import fabricaPng from '@/assets/images/site/about/fabrica.png';
import { type TimelineItem } from '@/types';

const items: TimelineItem[] = [
  {
    title: '1990',
    content: 'Inicio do estudo referente às propriedades técnicas da água.',
  },
  {
    title: '1993',
    content:
      'Requerimento protocolado junto à Agência Nacional de Mineração (ANM).',
  },
  {
    title: '1994',
    content: 'Autorização da ANM concedida.',
  },
];
---

<div class:list={['relative']}>
  <BackgroundOverlay
    image={fabricaPng}
    opacity={90}
    overlayClass="lg:hidden"
    imageClass="lg:hidden"
    class:list={['min-h-[250px]']}
  >
    <div class="flex h-full w-full flex-col gap-4 lg:gap-6">
      <h2
        class="text-display lg:text-agua-primary-blue! text-center text-white! uppercase lg:text-5xl"
      >
        Linha do Tempo
      </h2>
      <section class="flex min-h-[168px] w-full py-6 lg:max-h-fit">
        <ChronoTimelapse client:only="react" steps={items} />
      </section>
    </div>
  </BackgroundOverlay>
</div>
