---
import Image from '@/components/common/Image.astro';
import WidgetWrapper from './ui/WidgetWrapper.astro';
import Button from './ui/Button.astro';
import Headline from './ui/Headline.astro';

import folha from '@/assets/images/site/folha.webp';
import garrafao from '@/assets/images/site/garrafao.webp';

const items = [
  {
    title: 'Potássio',
    qtd: '14,430',
  },
  {
    title: 'Magnésio',
    qtd: '11,641',
  },
  {
    title: 'Cálcio',
    qtd: '11,037',
  },
  {
    title: 'Sódio',
    qtd: '5,218',
  },
  {
    title: 'Fluoreto',
    qtd: '0,04',
  },
  {
    title: 'Sulfato',
    qtd: '18,47',
  },
  {
    title: 'Cloreto',
    qtd: '17,76',
  },
  {
    title: 'Bicarbonato',
    qtd: '68,78',
  },
];
---

<WidgetWrapper fullWidth>
  <WidgetWrapper
    containerClass="relative mt-0! pt-0! flex items-center justify-evenly px-7"
  >
    <div class="flex max-w-xl flex-col gap-7 py-8">
      <h1>São Geraldo Águas Minerais</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi mollitia
        illum similique explicabo praesentium rerum! Rem, quis! Iste eos dolor
        delectus corrupti, eum minima. Cumque at reprehenderit iste quisquam
        inventore.
      </p>
      <Button class="max-w-[200px] text-2xl" variant="primary" href="/sobre/"
        >Ver Mais</Button
      >
    </div>
    <Image
      layout="contained"
      class="relative -right-1 -bottom-7 h-[600px] w-[500px]"
      loading="eager"
      fetchpriority="high"
      decoding="auto"
      src={garrafao}
      alt="Garrafão"
    />
  </WidgetWrapper>
  <div
    id="about"
    class="bg-agua-primary-blue relative min-h-[500px] w-full p-12"
  >
    <Headline
      title="Água Não é Tudo Igual,"
      subtitle="por isso conheça a nossa!"
      classes={{
        container: 'mb-4!',
        title: 'text-white! mb-0!',
        subtitle:
          'text-agua-secondary-blue! font-medium! text-4xl! py-0! my-0!',
      }}
    />
    <div class="mt-4 grid grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-7">
      {
        items.map((item) => (
          <div class="flex items-center justify-start gap-4">
            <Image src={folha} alt="Folha" class="size-30" />
            <div>
              <h3 class="mb-0! text-2xl! font-extrabold! text-white!">
                {item.title}
              </h3>
              <p class="text-agua-primary-green text-xl!">{item.qtd}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</WidgetWrapper>
