---
import { getCollection } from 'astro:content';
import Image from './common/Image.astro';
import WidgetWrapper from './ui/WidgetWrapper.astro';

// Busca o banner ativo da coleção middleBanner
const middleBanners = await getCollection(
  'middleBanner',
  ({ data }) => data.active
);
const bannerData = middleBanners[0]?.data;

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<WidgetWrapper containerClass={className} fullWidth>
  <div class="hidden md:block">
    <Image src={bannerData.image} alt={bannerData.title} />
  </div>
</WidgetWrapper>
