---
import { getPermalink } from '@/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { News } from '@/types';

export interface Props {
  tags: News['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      {title !== undefined && (
        <span class="align-super font-normal underline decoration-2 underline-offset-4 ">
          {title}
        </span>
      )}
      <ul class={`flex flex-wrap gap-2 ${className}`}>
        {tags.map((tag) => (
          <li>
            {!APP_BLOG?.tag?.isEnabled ? (
              <span class="inline-flex items-center bg-agua-primary-blue text-white! px-2.5 py-1 md:px-3 md:py-1.5 rounded-full text-sm md:text-base font-medium">
                #{tag.title}
              </span>
            ) : (
              <a
                href={getPermalink(tag.slug, isCategory ? 'category' : 'tag')}
                class="inline-flex items-center bg-agua-primary-blue text-white! px-2.5 py-1 md:px-3 md:py-1.5 rounded-full text-sm md:text-base font-medium hover:bg-agua-secondary-blue/80 transition-colors"
              >
                #{tag.title}
              </a>
            )}
          </li>
        ))}
      </ul>
    </>
  )
}
