---
import Layout from '@/layouts/Layout.astro';
---

<Layout metadata={{ title: 'Preview' }}>
  <main class="container mx-auto px-4 py-20 text-center">
    <h1 class="text-3xl font-bold text-agua-primary-blue mb-4">Área de Preview</h1>
    <p class="text-gray-600">Esta área contém previews de branches em desenvolvimento.</p>
  </main>
</Layout>
